{{ define "title" }} About {{ end }}

{{ define "main"}}
<br>
<div class="container">
  <h2 class="text-primary">
    Origin Story 
  </h2>
  <p class="lead">
    Moseley Ultimate Frisbee is a place for people of all skill levels to come, play, learn, and grow.
    Our first game was played with 4 friends (dads) from Magnolia Green - Meridian
    and is growing quickly across the Magnolia Green community and beyond. 
    We are open to all in the surrounding area, so don't be shy, drop on by we'd love to see you.
  </p>
</div>
{{ end }}