{{ define "title" }} Admin Login {{ end }}

{{ define "main"}}
<div class="container" style="max-width: 400px;">
  <br>
  <h2>Admin Login</h2>
  {{ if .Flash }}
    <div class="alert alert-danger">{{ .Flash }}</div>
  {{ end }}
  <form method="POST" action="/admin/login">
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" required autofocus>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
{{ end }}
